# Base URL of the Django backend API
# Example: https://yourbackend.onrender.com
VITE_API_URL=https://yourbackend.onrender.com
SECRET_KEY=xZiSfvITEtGpZhEdgWsG-xj367ZDXJ7xxSpCmuuaPKznq7dXXue6uTRnlPqq7LyjIJo

