# Django settings
DEBUG=False
ALLOWED_HOSTS=yourdomain.onrender.com,localhost,127.0.0.1

# Database Configuration (PostgreSQL URL)
# Example: postgresql://user:password@localhost:5432/dbname
DATABASE_URL=postgresql://neondb_owner:npg_MOJNqkBbh9l3@ep-sparkling-smoke-atrprjnq-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# CORS allowed frontend domains (comma separated)
# Example: https://yourfrontend.vercel.app
FRONTEND_URL=https://yourfrontend.vercel.app
VITE_API_URL=https://yourbackend.onrender.com
SECRET_KEY=xZiSfvITEtGpZhEdgWsG-xj367ZDXJ7xxSpCmuuaPKznq7dXXue6uTRnlPqq7LyjIJo

